.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 140px 40px 0px;
    gap: 20px;
}

.itemWrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: white;
    align-items: center;
}

.buttonWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 40px;
}


.add{
  border: 0;
  font-size: 19px;
  background-color: white;}

.remove{
  border: 0;
  font-size: 24px;
  background-color: white;
}

.p{
  border: 1px solid black;
  height: auto;
  width: 20px;
  border-radius: 5px;
  display: flex;          
  justify-content: center;
  align-items: center;   
}

.delete{
  border: 0;
  background-color: white;
  gap: 40px;
}