.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 140px 40px 0px;
    gap: 20px;
}

.itemWrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: white;
    align-items: center;
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 40px;
}

.add{
    background-color: #4CAF50;
    border: none;
    border-radius: 25px;
    padding: 10px 7px;
}


.add:hover {
    background-color: #45a049;
  }


.remove {
    background-color: #f44336;
    border: none;
    border-radius: 25px;
    padding: 10px 7px;

  }

  .remove:hover {
    background-color: #d32f2f;
  }